*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: rgb(238, 191, 178);
    overflow-x: hidden;
}

#navbar{
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    background-color: rgb(169, 125, 89);
    z-index: 1;
}

#navbar ul{
    display: flex;
    margin: 2em;
}

#navbar li{
    margin-right: 6em;
    list-style: none;
    padding-left: 15px;
    font-size: 20px;
    font-family: 'Flama Basic', sans-serif;
}

#navbar .fa-solid{
    position: absolute;
    top: 20%;
}

#navbar a{
    text-decoration: none;
    color: black;
    transition: .5s;
}

#navbar a:hover{
    color: white;
}

#main-section{
    width: 100%;
    height: 100vh;
    background-color: grey;
}

#main-section h1{
    text-align: center;
    position: relative;
    top: 55%;
    color: white;
    font-family: 'Flama Basic', sans-serif;
    font-size: 40px;
}

.animation-intro1{
    animation: intro ease-in forwards;
    animation-duration: 0.75s;
}

@keyframes intro {
    0%{
      color: rgba(255, 255, 255, 0);
      transform: scale(0.5);
    }
    100%{
      color: white;
      transform: scale(1.0);
    }
}

#main-section img{
    height: 100vh;
    width: 100%;
}

#main-section1{
    top: 100%;
    margin-top: 4em;
    text-align: center;
}

#main-section1 h2{
    font-size: 20px;
    font-family: 'Flama Basic', sans-serif;
    color: rgb(148, 122, 107);
}

#main-section1 > p{
    margin-top: 1em;
    border-bottom: 1px black solid;
    padding-bottom: 1em;
    margin-left: 30%;
    margin-right: 30%;
    font-size: 20px;
    font-family: 'Flama Basic', sans-serif;
}

h3{
    padding-top: 2em;
    font-family: 'adorable', sans-serif;
    font-size: 30px;
}

.div1{
    margin-top: 2em;
    display: grid;
    grid-auto-columns: 50%;
}

.grid-item1{
    grid-column: 1/2;
    justify-self: center;
}

.div1 p{
    font-size: 30px;
    padding-top: 2em;
    text-decoration: underline;
    font-family: 'Flama Basic', sans-serif;
    color: rgb(148, 122, 107);
}

.div1 ul{
    margin-top: 30px;
}

.div1 li{
    list-style: none;
    padding: 1em;
    font-size: 30px;
    font-family: 'adorable', sans-serif;
}

.mainimage2{
    grid-column: 2/3;
    justify-self: center;
    margin-top: -5em;
    width: 100%;
    padding-right: 20%;
}

.div1 a{
    text-decoration: none;
    color: black;
    transition: 0.5s;
}

.div1 a:hover{
    font-size: 35px;
    color: white;
}

#main-section2{
    text-align: center;
    margin-top: 5em;
    margin-bottom: 2em;
    border-bottom: 1px solid black;
    margin-left: 20%;
    margin-right: 20%;
    padding-bottom: 1em;
}

.fa-solid{
    right: 100%;
    font-size: 20px;
    position: absolute;
    display: flex;
    top: 40%;
}